[settings]
watch_interval_min = 10
post_url = https://slack.com/api/chat.postMessage
token = xxx
channel = xxx

[jr_services]
url_1 = xxx
url_2 = xxx

[in_trouble]
url_1 = False
url_2 = False

[posting_datetime]
url_1 = 1900-01-01 00:00
url_2 = 1900-01-01 00:00
