[settings]
watch_interval_min = 10
post_url = https://slack.com/api/chat.postMessage
token = xxx
channel = xxx
username = xxx

[jr_services]
url_1 = xxx
url_2 = xxx

[in_trouble]
url_1 = False
url_2 = False
